@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusesModel
@{
}
 
<div class="text-center">
<form method=”POST”>
  <label for="ID" class="form-label">Id:</label>
  <input type="number" class="form-control" id="ID" name="ID" placeholder="ID">
  <label for="Marca" class="form-label">Marca:</label>
  <input type="text" class="form-control" id="Marca" name="Marca" placeholder="Marca">
  <label for="Modelo" class="form-label">Modelo:</label>
  <input type="number" class="form-control" id="Modelo" name="Modelo" placeholder="Modelo">
  <label for="Kilometraje" class="form-label">Kilometraje:</label>
  <input type="number" class="form-control" id="Kilometraje" name="Kilometraje" placeholder="Kilometraje">
  <label for="Numero de Asientos" class="form-label">Numero de Asientos:</label>
  <input type="number" class="form-control" id="Numero de Asientos" name="Numero de Asientos" placeholder="Numero de Asientos">
  <label for="Placa" class="form-label">Placa:</label>
  <input type="text" class="form-control" id="Placa" name="Placa" placeholder="Placa">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
