@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusModel
@{
}
 
<div class="text-center">
<form method="POST">
  <label for="id" class="form-label">id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id">
  <label for="Marca" class="form-label">Marca:</label>
  <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca">
  <label for="Modelo" class="form-label">Modelo:</label>
  <input type="number" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
  <label for="Kilometraje" class="form-label">Kilometraje:</label>
  <input type="number" class="form-control" id="kilometraje" name="kilometraje" placeholder="Kilometraje">
  <label for="Número de asientos" class="form-label">Número de asientos:</label>
  <input type="number" class="form-control" id="numero_asientos" name="numero_asientos" placeholder="Número de asientos">
  <label for="Placa" class="form-label">Placa:</label>
  <input type="text" class="form-control" id="placa" name="placa" placeholder="Placa">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
