@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">marca</th>
      <th scope="col">modelo</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">N° de asientos</th>
      <th scope="col">placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>15458</td>
      <td>Volvo</td>
      <td>2006</td>
      <td>100km</td>
      <td>25</td>
      <td>HGF123</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>15425</td>
      <td>Kia</td>
      <td>2002</td>
      <td>110km</td>
      <td>28</td>
      <td>HHF154</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>52645</td>
      <td>Chevrolete</td>
      <td>2020</td>
      <td>150km</td>
      <td>32</td>
      <td>LKM215</td>
    </tr>
  </tbody>
</table>