@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Kilimetraje</th>
      <th scope="col">N° de Asientos</th>
      <th scope="col">Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>54526</td>
      <td>Volvo</td>
      <td>2001</td>
      <td>150km</td>
      <td>20</td>
      <td>KJU256</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>34584</td>
      <td>Mercedez</td>
      <td>2021</td>
      <td>170km</td>
      <td>28</td>
      <td>FRD236</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>21458</td>
      <td>Chevrolet</td>
      <td>2018</td>
      <td>110km</td>
      <td>32</td>
      <td>QPS548</td>
    </tr>
  </tbody>
</table>

