@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutasModel
@{
}
 
<div class="text-center">
<form method=”POST”>
  <label for="ID" class="form-label">Id:</label>
  <input type="number" class="form-control" id="ID" name="ID" placeholder="ID">
  <label for="Origen" class="form-label">Origen:</label>
  <input type="text" class="form-control" id="Origen" name="Origen" placeholder="Origen">
  <label for="Destino" class="form-label">Destino:</label>
  <input type="text" class="form-control" id="Destino" name="Destino" placeholder="Destino">
  <label for="Tiempo Estimado" class="form-label">Tiempo Estimado:</label>
  <input type="text" class="form-control" id="Tiempo Estimado" name="Tiempo Estimado" placeholder="Tiempo Estimado">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>