@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Tiempo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>54526</td>
      <td>Centro</td>
      <td>Terminal</td>
      <td>2hrs</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>34584</td>
      <td>Estadio</td>
      <td>Centro</td>
      <td>1:30hrs</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>21458</td>
      <td>Estadio</td>
      <td>Terminal</td>
      <td>45min</td>
    </tr>
  </tbody>
</table>
