@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Origen</th>
      <th scope="col">destino</th>
      <th scope="col">Tiempo Estimado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>15458</td>
      <td>Centro</td>
      <td>Estadio</td>
      <td>40min</td>


    </tr>
    <tr>
      <th scope="row">2</th>
      <td>15425</td>
      <td>Terminal</td>
      <td>Centro</td>
      <td>1hra</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>52645</td>
      <td>Estadio</td>
      <td>Terminal</td>
      <td>50min</td>
    </tr>
  </tbody>
</table>