@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionesModel
@{
}
 
<div class="text-center">
<form method=”POST”>
  <label for="ID" class="form-label">Id:</label>
  <input type="number" class="form-control" id="ID" name="ID" placeholder="ID">
  <label for="Nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre">
  <label for="Dirección" class="form-label">Dirección:</label>
  <input type="text" class="form-control" id="Dirección" name="Dirección" placeholder="Dirección">
  <label for="Coordenada x" class="form-label">Coordenada x:</label>
  <input type="number" class="form-control" id="Coordenada x" name="Coordenada x" placeholder="Coordenada x">
  <label for="Coordenada y" class="form-label">Coordenada y:</label>
  <input type="number" class="form-control" id="Coordenada y" name="Coordenada y" placeholder="Coordenada y">
  <label for="Tipo" class="form-label">Tipo:</label>
  <input type="text" class="form-control" id="Tipo" name="Tipo" placeholder="Tipo">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>