@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionModel
@{
}
 
<div class="text-center">
<form method="POST">
  <label for="id" class="form-label">id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id">
  <label for="Nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
  <label for="Direccion" class="form-label">Direccion:</label>
  <input type="number" class="form-control" id="direccion" name="direccion" placeholder="Direccion">
  <label for="Coord_x" class="form-label">Coord_x:</label>
  <input type="number" class="form-control" id="coord_x" name="coord_x" placeholder="Coord_x">
  <label for="Coord_y" class="form-label">Coord_y:</label>
  <input type="number" class="form-control" id="coord_y" name="coord_y" placeholder="Coord_y">
  <label for="Tipo" class="form-label">Tipo:</label>
  <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>