@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionesModel
@{
}
 
<div class="text-center">
<form method=”POST”>
  <label for="nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
  <label for="edad" class="form-label">Edad:</label>
  <input type="number" class="form-control" id="edad" name="edad" placeholder="Edad">
  <label for="email" class="form-label">Email:</label>
  <input type="email" class="form-control" id="email" name="email" placeholder="Email">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>