@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
      <th scope="col">Cordenada X</th>
      <th scope="col">Cordenada Y</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Centro</td>
      <td>Cra 25</td>
      <td>5.214</td>
      <td>61.236</td>
      <td>Principal</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Estadio</td>
      <td>Cra 32A</td>
      <td>3.524</td>
      <td>10.254</td>
      <td>Principal</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Terminal</td>
      <td>Cll 115</td>
      <td>25.214</td>
      <td>23.236</td>
      <td>Secundaria</td>
    </tr>
  </tbody>
</table>
