@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">nombre</th>
      <th scope="col">direccion</th>
      <th scope="col">coordenada x</th>
      <th scope="col">coordenada y</th>
      <th scope="col">tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>15458</td>
      <td>Centro</td>
      <td>Cra 25</td>
      <td>25.124</td>
      <td>26.254</td>
      <td>Principal</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>15425</td>
      <td>Terminal</td>
      <td>Calle 152</td>
      <td>11.236</td>
      <td>28.325</td>
      <td>Principal</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>52645</td>
      <td>Estadio</td>
      <td>Ave. 458</td>
      <td>15.698</td>
      <td>32.236</td>
      <td>SAecundaría</td>
    </tr>
  </tbody>
</table>